
<h2>{{model.fullName}}</h2>

<p>
  {{model.email}}
</p>
<p>
  {{model.twitter}}
</p>

{{#link-to 'friends.edit' model}}
  edit
{{/link-to}}

<br>
<br>

{{#link-to 'friends.index'}}
  all friends
{{/link-to}}
