
<h2>Friends ({{model.length}})</h2>

<ul>
  {{#each friend in model}}
    <li>
      {{#linkTo 'friends.show' friend}}
        {{friend.firstName}} {{friend.lastName}}
      {{/linkTo}}
    </li>
  {{/each}}
</ul>

{{outlet}}
